
<div class="d-flex flex-column h-100">
    <figure class="justify-content-center">
        <img class="images-card" [src]="myUser.image" [alt]="myUser.first_name + ' ' + myUser.last_name">
    </figure>

    <h5 class="fw-bold mt-4">{{myUser.first_name + ' ' + myUser.last_name}}</h5>

    <div class="d-flex justify-content-between mt-auto">
        <button type="submit" class="btn d-flex flex-column align-items-center flex-grow-1 p-2" [routerLink]="['/user', myUser._id]">
            <img src="./lupa.webp" alt="Enviar" class="mb-2 logo-card">
            <p>Ver detalle</p>
        </button>
        <button type="submit" class="btn d-flex flex-column align-items-center flex-grow-1 p-2">
            <img src="./actualizar.png" alt="Enviar" class="mb-2 logo-card">
            <p>Actualizar</p>
        </button>
        <button type="submit" class="btn d-flex flex-column align-items-center flex-grow-1 p-2">
            <img src="./papelera.png" alt="Enviar" class="mb-2 logo-card">
            <p>Borrar</p>
        </button>

    </div>
</div>