
    @if (volver){
        <button type="submit" class="btn d-flex flex-column align-items-center flex-grow-1 p-2" [routerLink]="['/home']" >
            <img src="./volver.webp" alt="Volver" class="mb-2 logo-card">
            <p>Volver</p>
        </button>
    }@else{
        <button type="submit" class="btn d-flex flex-column align-items-center flex-grow-1 p-2 " [routerLink]="['/user',myUser?._id]" >
            <img src="./lupa.webp" alt="Ver detalle" class="mb-2 logo-card">
            <p>Ver detalle</p>
        </button>
    }
    
    <button type="submit" class="btn d-flex flex-column align-items-center flex-grow-1 p-2" [routerLink]="['/user','update',myUser?._id]">
        <img src="./actualizar.png" alt="Actualizar" class="mb-2 logo-card">
        <p>Actualizar</p>
    </button>

    <button type="submit" class="btn d-flex flex-column align-items-center flex-grow-1 p-2" (click)="deleteUser(myUser?._id)">
        <img src="./papelera.png" alt="Borrar" class="mb-2 logo-card">
        <p>Borrar</p>
    </button>