<section class="container mt-5">
    <div class="row align-items-center justify-content-center g-md-5 g-3">
        <figure class="col-12 col-md-6">
            <img [src]="ElUser?.image" [alt]="ElUser?.first_name + ' ' + ElUser?.last_name" class="img-fluid rounded-circle shadow-lg">
        </figure>

        <div class="col-12 col-md-6 d-flex flex-column h-100">
            <div class="mb-4">
                <h1 class="div-h1">{{ElUser?.first_name}}</h1>
                <h1 class="div-h1 mb-4">{{ElUser?.last_name}}</h1>
                <p class="div-p mb-1"><strong>Nombre Usuario:</strong></p>
                <p class="div-p mb-4">{{ElUser?.username}}</p>
                <p class="div-p mb-1"><strong>Email:</strong></p>
                <p class="div-p">{{ElUser?.email}}</p>
      
            </div>
            <div app-buttons [myUser]="ElUser" [volver] ="true" class="d-flex justify-content-between"></div>
        </div>
    </div>
</section>


